<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_front_send_response_before">
        <observer name="magoarab_cdn_integration_replace_static_urls" instance="MagoArab\CdnIntegration\Observer\ReplaceStaticUrls" />
    </event>
	<event name="admin_system_config_changed_section_dev">
    <observer name="magoarab_cdn_disable_sign_static_files" instance="MagoArab\CdnIntegration\Observer\DisableSignStaticFiles" />
    </event>
	<event name="controller_front_send_response_after">
    <observer name="magoarab_cdn_integration_performance_optimizer" instance="MagoArab\CdnIntegration\Observer\PerformanceOptimizer" />
</event>
</config>